html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: black;
}
header{
  background-image: url('/home/sheethal/webdesign/cometgateway.jpg');
}
body {
  width: 90%;
  min-width: 800px;
  margin: 0 auto;
  padding: 1%;
}
/*typography*/
h1{
  font-family: 'Spicy Rice',cursive;
  text-align: center;
  font-size: 100px;
  padding: 15%;

}
h2{
  font-family: 'Kaushan Script',cursive;
  text-align: center;
  font-size: 50px;
  color: white;
}
h3{
  font-family: 'Dancing Script',cursive;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 0;
}
h4{
  font-family: 'Merriweather',cursive;
  color: white;
  font-size: 25px;
  padding: 13px;
  padding-bottom: 0;
  text-decoration: underline;
}
p{
  font-family: 'Source Sans Pro',cursive;
  color: white;
  line-height: 1.6em;
  font-size: 20px;
}
a{
  font-family: 'Crimson Text',normal;
  font-size: 20px;
}
header, nav, article, aside, footer, section {
  background-color: #262626;
}
/*header layout*/

header{

}
nav{
  background-color:  #0d0d0d;
  padding: 1%;
  height: 40px;
  flex: 100%;
  display: flex;
}
nav a{
  padding: 0;
  flex: 2;
  display: flex;
  text-align: center;
  flex: 1;
  display: inline-block;
  float: left;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-decoration: none;
  color: white;
}

nav a:hover{
  background-color: grey;
  color: black;
}
/*main layout*/
section{
  flex: 4;
  background-color: #262626;
  padding-bottom: 60px;
  padding: 1%;
  display: flex;
}
article{
  float: left;
  width: 50%;
  padding: 10px;
  flex: 4;
}
aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
  display: block;
  float: right;
  width: 39%;
}

.box {
  background-color: #262626;
  padding: 4px;
}
ul{
  background-color: #262626;
  padding-bottom: 3px;
}

footer{
  text-align: center;
}
form{
  padding: 20px;
  padding-top: 0;
}
form .form-grp {
  padding-bottom: 20px;
  font-size: 20px;
  color: white;
}
aside h3{
  padding-top: 0;
}

.form-grp input, .form-grp textarea{
  padding: 7px;
  width: 50%;
}
input.button{
   background-color: grey;
   color: black;
   padding: 10px 15px;
   border-radius: 5px;
   float: right;
   border: none;
}
/*gallery*/
.gallery {
  margin: 5px;
  border: 1px solid #F5F5F5;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 10px;
  text-align: center;
  color: black;
  background-color:grey;
  font-size: 17px;
}
.head2{
  padding: 20%;
}
{
  box-sizing: border-box;
}

/*styling for a responsive gallery:::
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}*/
aside a{
  color: #F5F5F5;
  text-decoration: none;
}
footer a{
  color: #F5F5F5;
  text-decoration: none;
}
/*features*/
.head2{
  padding: 20%;
}
.division a{
  color: #F5F5F5;
  text-decoration: none;
  padding: 2px;
  text-align: center;
}
.division a:hover{
  text-decoration: underline;
  border: 1px solid #777;
}
/*faqs*/
.box1{
  width:70%;
  margin: auto;
  background-color:#262626;
  color: #F5F5F5;
  border:5px black solid;
  padding: 3px;
}
.box1 li{
  font-size: 15px;
  line-height: 1.5em;
}
.send{
  width:10%;
  margin:auto;
  background-color: grey;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
}
